*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    align-items: center;
    position: center;
}

.Big{
    margin-top:50px;
    font-family: "poppins","Bebas Neue", sans-serif;
    font-size:larger;
    text-shadow: 1px 2px 4px black;
}
/* 
.small{
    margin-left:-60px;
    line-height: 0.9;
} */

/* 
.large{
    background-color: black;
    color:white;
    height: 35px;
    width: 75px;
    border:none;
    outline:none;
}
 */
